<div>
<%= form_for @candidate do |f| %>
  <p>
  <%= f.label :first_name, 'FIRST NAME' %>
  <%= f.text_field :first_name %>
  </p>
  <p>
  <%= f.label :last_name, 'LAST NAME' %>
  <%= f.text_field :last_name %>
  </p>
  <p>
  <%= f.label :email, 'EMAIL' %>
  <%= f.text_field :email %>
  </p>
  <p>
    <b>GENDER</b><br />
    <%= f.radio_button :gender, 'Male' %> MALE<br />
    <%= f.radio_button :gender, 'Female' %> FEMALE<br />
  </p>
  <p>
  <%= f.label :ip_address, 'IP ADDRESS' %>
  <%= f.text_field :ip_address %>
  </p>
  <p>
  <%= f.label :date_of_birth, 'DATE OF BIRTH' %>
  <%= f.text_field :date_of_birth, :placeholder => 'M/D/YYYY' %>
  </p>
  <%= f.submit %>
<% end %>
</div>
