<h1>All Candidates</h1>

<div>
  <% @candidates.each do |candidate| %>
    <div>
        <%= candidate.id %>
        <%= candidate.first_name %>
        <%= candidate.last_name %>
        <%= candidate.email %>
        <%= candidate.gender %>
        <%= candidate.ip_address %>
        <%= candidate.date_of_birth %>
    </div>
  <% end %>
</div>
